{
  "openapi": "3.0.0",
  "info": {
    "title": "Console API",
    "description": "The \"Console API\" is the CRUD API for performing the actions offered on console.statsig.com without needing to go through the web UI.\nIf you have any feature requests, drop on in to our [slack channel](https://www.statsig.com/slack) and let us know.\n<br /><br />\n<b>Authorization</b>\n<br />\nAll requests must include the **STATSIG-API-KEY** field in the header. The value should be a **Console API Key** which can be created in the Project Settings on [console.statsig.com/api_keys](https://console.statsig.com/api_keys)\n<br /><br />\n<b>Rate Limiting</b>\n<br />\nRequests to the Console API are limited to <code>~ 100reqs / 10secs and ~ 900reqs / 15 mins</code>.\n<br /><br />\n<b>Keyboard Search</b>\n<br />\nUse <code>Ctrl/Cmd + K</code> to search for specific endpoints.",
    "version": "20240601.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://statsigapi.net"
    }
  ],
  "tags": [],
  "paths": {
    "/console/v1/alerts": {
      "get": {
        "summary": "List Topline Alerts",
        "parameters": [
          {
            "name": "creatorName",
            "required": false,
            "in": "query",
            "description": "Name of the creator.",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          },
          {
            "name": "creatorID",
            "required": false,
            "in": "query",
            "description": "ID of the user who created the entity.",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          },
          {
            "name": "tags",
            "required": false,
            "in": "query",
            "description": "Filter by tags",
            "examples": {
              "single tag": {
                "value": "tag1"
              },
              "multiple tags": {
                "value": [
                  "tag1",
                  "tag2"
                ]
              }
            },
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Results per page",
            "schema": {
              "example": 10,
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "type": "integer"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number",
            "schema": {
              "example": 1,
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "type": "integer"
            }
          },
          {
            "name": "x-respect-review-settings",
            "in": "header",
            "description": "Optional header to respect review settings for mutation endpoints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List Alerts success response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginationResponseWithMessage"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AlertSchemaDto"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [
                        403
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Forbidden resource"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Forbidden resource": {
                    "value": {
                      "status": 403,
                      "message": "Forbidden resource"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "security": [
          {
            "STATSIG-API-KEY": []
          }
        ]
      }
    },
    "/console/v1/audit_logs": {
      "get": {
        "summary": "List Audit Logs",
        "parameters": [
          {
            "name": "id",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortKey",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "changeLog",
                "actionType",
                "date",
                "time",
                "updatedBy",
                "updatedByUserID"
              ]
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "latestID",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "required": false,
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          {
            "name": "actionType",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "edit_experiment_scheduled_start",
                "edit_ai_config_agent_version",
                "update_ai_dataset",
                "upload_ai_config_dataset_csv",
                "resalt_experiment",
                "edit_ai_config_eval_settings",
                "delete_ai_config",
                "set_suggest_cure_covariates",
                "edit_ai_playground_setup",
                "start_ai_config_version_evaluation_job",
                "start_ai_playground_completion_job",
                "stop_ai_config_version_evaluation_job",
                "clone_ai_config",
                "edit_ai_config_version",
                "delete_ai_config_version",
                "clone_ai_config_version",
                "ai_config_create",
                "ai_playground_create",
                "create_ai_dataset",
                "create_ai_config_version",
                "upsert_ai_config_version",
                "create_ai_config_eval_grader",
                "edit_ai_config_eval_grader",
                "delete_ai_config_eval_grader",
                "set_enable_id_resolution_toggle",
                "dynamic_config_create",
                "dynamic_config_template_create",
                "dynamic_config_update_owners",
                "gate_overrides_update",
                "gate_template_create",
                "gate_create",
                "gate_update",
                "set_user_sampling_rate_for_gate",
                "gate_update_owners",
                "update_store_0_100_exposures",
                "update_gate_analytics_enabled",
                "update_gate_display_name",
                "release_pipeline_create",
                "release_pipeline_update",
                "release_pipeline_delete",
                "update_config_release_pipeline",
                "release_pipeline_trigger_create",
                "apply_experiment_review",
                "extend_experiment_pulse_end_date",
                "restart_experiment_pulse",
                "autotune_experiment_create",
                "autotune_experiment_delete",
                "autotune_experiment_snapshot_delete",
                "autotune_experiment_edit",
                "autotune_experiment_update_target_apps",
                "autotune_experiment_update_pulse_paused",
                "autotune_overrides_edit",
                "autotune_reviews_on",
                "experiment_data_report_delete",
                "experiment_discussion_post_create",
                "experiment_discussion_post_delete",
                "experiment_abandon",
                "experiment_pause_assignment",
                "experiment_stopped",
                "experiment_review_accept",
                "experiment_review_reject",
                "experiment_template_create",
                "update_template_decision_framework",
                "remove_template_decision_framework",
                "experiment_create",
                "experiment_review_create",
                "experiment_delete",
                "experiment_review_delete",
                "experiment_review_update_team",
                "experiment_snapshot_delete",
                "experiment_group_disable",
                "experiment_description_edit",
                "experiment_display_name_edit",
                "experiment_edit",
                "experiment_overrides_edit",
                "hypothesis_edit",
                "key_experiment_metrics_edit",
                "experiment_advanced_settings_edit",
                "experiment_decision_make",
                "experiment_restart",
                "experiment_restart_as_new",
                "experiment_rollout",
                "experiment_schedule_rollout",
                "experiment_reviews_on",
                "experiment_start",
                "schedule_experiment_start",
                "experiment_follow_toggle",
                "experiment_allowed_reviewers_update",
                "experiment_review_info_update",
                "update_experiment_enabled_non_prod_environments",
                "archive_experiment",
                "unarchive_experiment",
                "experiment_update_owners",
                "update_echidna_subtype",
                "setup_stratified_sampling",
                "experiment_update_target_apps",
                "experiment_update_subdimension_filter",
                "experiment_review_update_overrides",
                "experiment_review_update_owners",
                "experiment_update_decision_note",
                "experiment_update_summary_sections",
                "unattach_experiment_to_power_analysis_report",
                "attach_experiment_to_power_analysis_report",
                "pin_chart_to_summary",
                "set_geotest_design",
                "delete_geotest_design",
                "create_geotest_design",
                "experiment_assigned_to_layer",
                "holdout_create",
                "holdout_delete",
                "holdout_layer_parameter_values_update",
                "holdout_update",
                "holdout_update_owners",
                "metric_edit_definition",
                "metric_edit_description",
                "metric_add_tag",
                "metric_remove_tag",
                "schedule_delete_metric",
                "schedule_archive_metric",
                "update_metric_is_permanent",
                "update_metric_is_verified",
                "metric_reviews_on",
                "metric_disable_reviews_locally",
                "custom_metric_definition_edit",
                "custom_metric_definition_create",
                "custom_metric_definition_delete",
                "custom_metric_update_owners",
                "tag_metrics_bulk",
                "tag_create",
                "tag_delete",
                "tag_edit",
                "segment_create",
                "segment_update_owners",
                "layer_update_owners",
                "layer_review_commit",
                "layer_review_accept",
                "layer_parameter_add",
                "layer_create",
                "layer_review_create",
                "layer_review_delete",
                "layer_delete",
                "layer_snapshot_delete",
                "layer_description_edit",
                "layer_edit",
                "layer_overrides_edit",
                "layer_parameters_edit",
                "layer_review_reject",
                "layer_allowed_reviewers_update",
                "layer_review_info_update",
                "layer_update_target_apps",
                "delete_layer_parameter",
                "update_layer_parameter",
                "config_review_accept",
                "config_review_commit",
                "config_review_create",
                "config_delete",
                "config_review_delete",
                "config_reviews_disable",
                "config_review_reject",
                "config_resalt",
                "config_revert",
                "config_require_reviews",
                "config_state_toggle",
                "config_allowed_reviewers_update",
                "config_conditions_update",
                "config_default_value_update",
                "config_description_update",
                "config_display_name_update",
                "config_environments_update",
                "config_review_info_update",
                "config_review_update",
                "config_review_required_update",
                "config_add_tag",
                "config_edit_tags",
                "config_remove_tag",
                "config_monitoring_metrics_update",
                "config_edit_target_apps",
                "update_config_analytics_enabled",
                "set_self_approvals_blocked",
                "release_pipeline_completed",
                "release_pipeline_waiting_for_review",
                "pin_dashboard_for_company",
                "add_dashboard_widget",
                "create_dashboard",
                "delete_dashboard_widget",
                "edit_dashboard_widget",
                "delete_dashboard",
                "edit_dashboard_description",
                "edit_dashboard_name",
                "restore_dashboard",
                "update_dashboard_widgets_from_generated_tags",
                "dashboard_update_owners",
                "update_dashboard_settings",
                "create_topline_alert",
                "update_topline_alert",
                "delete_topline_alert",
                "active_user_definition_update",
                "company_create",
                "company_metric_management_update",
                "metric_allowed_reviewers_update",
                "metric_review_commit",
                "metric_review_create",
                "metric_review_info_update",
                "set_metric_directionality",
                "custom_metric_edit",
                "custom_metric_name_edit",
                "custom_metric_review_accept",
                "custom_metric_review_delete",
                "custom_metric_review_reject",
                "delete_metric",
                "archive_metric",
                "unarchive_metric",
                "cancel_delete_metric",
                "cancel_archive_metric",
                "edit_guardrail_metric_alert",
                "create_guardrail_metric_alert",
                "delete_guardrail_metric_alert",
                "resolve_guardrail_metric_alert",
                "unsnooze_guardrail_metric_alert",
                "update_echidna_metric_loading_window",
                "update_metric_review_required",
                "layer_reviews_on",
                "delete_tag",
                "ID_list_update",
                "update_gate_is_permanent",
                "load_echidna_metric",
                "batch_load_echidna_topline_impact",
                "update_server_sdk_configuration_rollback",
                "company_ID_type_add",
                "update_echidna_source_review_required",
                "AWS_marketplace_account_delete",
                "batch_cancel_company_invites",
                "batch_user_role_update",
                "company_basic_info_edit",
                "company_delete",
                "company_email_domain_config_delete",
                "company_environments_edit",
                "add_geo_type",
                "delete_geo_type",
                "company_ID_type_delete",
                "company_ID_type_edit",
                "company_invite_access_update",
                "update_entities_require_teams",
                "update_company_user_store_enabled",
                "company_member_remove",
                "company_metric_delete",
                "company_snapshot_delete",
                "config_id_type_update",
                "config_update_owners",
                "create_customer_app",
                "edit_target_app",
                "delete_target_app",
                "source_allowed_reviewers_update",
                "create_echidna_assignment_source",
                "create_echidna_entity_property_source",
                "create_echidna_metric_source",
                "create_echidna_data_quality_checks",
                "create_echidna_source_review",
                "accept_echidna_source_review",
                "commit_echidna_source_review",
                "reject_echidna_source_review",
                "update_echidna_source_review",
                "delete_echidna_source_review",
                "create_power_analysis_gate_query",
                "create_power_analysis_custom_query",
                "custom_pulse_query_create",
                "custom_pulse_query_delete",
                "custom_pulse_query_name_edit",
                "custom_query_toggle_favorite",
                "custom_sankey_delete",
                "delete_echidna_assignment_source",
                "delete_echidna_entity_property_source",
                "delete_echidna_metric_source",
                "delete_payment_method",
                "tag_update_owners",
                "modify_override_config",
                "modify_overrides",
                "remove_override_config",
                "scheduled_custom_pulse_query_create",
                "integration_delete",
                "integration_create",
                "integration_update",
                "scheduled_pulse_custom_query_delete",
                "scheduled_pulse_query_name_edit",
                "user_data_load",
                "organization_member_remove",
                "shared_report_link_upsert",
                "scheduled_pulse_rollups_update",
                "OIDC_configuration_delete",
                "project_review_group_delete",
                "SSO_disable",
                "project_description_edit",
                "project_owner_set",
                "user_role_update",
                "OIDC_configuration_upsert",
                "payment_entitlements_upsert",
                "project_review_group_upsert",
                "project_review_group_remove",
                "update_team_settings",
                "update_team_admins",
                "update_team_name",
                "update_team_description",
                "update_team",
                "shared_report_link_delete",
                "experiment_data_report_rename",
                "experiment_data_report_update_parameters",
                "event_dimension_update",
                "integration_set_enabled",
                "integration_update_disabled_events",
                "integration_update_outgoing_config",
                "integration_update_rate_limits",
                "integration_upsert",
                "ingestion_source_delete",
                "tag_configs_bulk",
                "org_api_key_create",
                "set_personal_api_key_access",
                "sdk_key_create",
                "sdk_key_deactivate",
                "sdk_key_delete",
                "secret_key_regenerate",
                "sdk_key_update_description",
                "set_api_share_key_access",
                "set_plan_type",
                "generate_integration_webhook_secret",
                "set_default_payment_method",
                "set_user_sampling_rate",
                "sdk_key_update_environments",
                "upsert_trigger_integration",
                "delete_trigger_integration",
                "dismiss_runaway_entity",
                "update_echidna_metric_source",
                "update_echidna_metric_source_name",
                "update_echidna_metric_tag_or_description",
                "update_echidna_assignment_source",
                "update_echidna_assignment_source_name",
                "update_echidna_assignment_source_loading_window",
                "update_echidna_entity_property_source",
                "update_echidna_entity_property_source_name",
                "update_echidna_source_owner",
                "update_precommit_hook",
                "load_echidna_pulse",
                "load_echidna_autotune_pulse",
                "load_echidna_assignment_source",
                "set_echidna_schedule_hour",
                "echidna_drop_tables",
                "upsert_user_role",
                "delete_user_role",
                "sdk_key_update_target_app",
                "set_gate_analytics_enabled_by_default",
                "set_dynamic_config_analytics_enabled_by_default",
                "set_gate_analytics_0_100_exposures_enabled",
                "update_bv3_subscription",
                "upsert_experiment_settings",
                "upsert_gate_settings",
                "sdk_key_update_scopes",
                "user_login",
                "param_store_create",
                "param_store_update",
                "set_bv3_plan_type",
                "set_echidna_project_pulse_schedule",
                "set_echidna_project_metric_schedule",
                "set_company_default_user_role",
                "set_company_session_replay_sampling_rate",
                "set_company_session_replay_settings",
                "cancel_echidna_dag",
                "set_require_target_app_for_new_entity",
                "add_segments_of_interest_property",
                "delete_segments_of_interest_property",
                "add_srm_debugger_custom_dimension",
                "delete_srm_debugger_custom_dimension",
                "param_store_delete",
                "setup_external_opt_in",
                "param_store_update_owners",
                "create_statsig_proxy",
                "update_echidna_assignment_source_is_verified",
                "update_echidna_metric_source_is_verified",
                "update_echidna_entity_property_source_is_verified",
                "update_echidna_source_is_verified",
                "set_automated_bot_removals",
                "pulse_results_export",
                "update_company_auto_capture_settings",
                "update_company_experiment_exclusion_segment",
                "set_stop_new_assignment_toggle",
                "set_stop_experiment_enabled",
                "update_company_remove_default_gates_setting",
                "set_whn_results_export_setting",
                "update_experiment_quality_score_settings",
                "update_experiment_salt",
                "update_precommit_webhook_key",
                "set_whn_table_ttls",
                "set_id_resolution_inferred_id",
                "set_id_resolution_labeled_id",
                "add_session_recordings_to_playlist",
                "delete_session_recordings_from_playlist",
                "delete_session_replay_playlist",
                "backfill_metric_results",
                "cancel_metric_backfills",
                "archive_org_project",
                "update_ai_assistance_enabled",
                "update_ai_business_context",
                "update_experiment_ai_settings",
                "upsert_ai_config_eval_groups",
                "upsert_user_store_client_targeting_properties",
                "set_ai_config_baseline_version",
                "verify_dashboard",
                "set_first_exposure_user_store_default",
                "update_experiment_quality_score_criteria"
              ]
            }
          },
          {
            "name": "actionTypes",
            "required": false,
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "edit_experiment_scheduled_start",
                  "edit_ai_config_agent_version",
                  "update_ai_dataset",
                  "upload_ai_config_dataset_csv",
                  "resalt_experiment",
                  "edit_ai_config_eval_settings",
                  "delete_ai_config",
                  "set_suggest_cure_covariates",
                  "edit_ai_playground_setup",
                  "start_ai_config_version_evaluation_job",
                  "start_ai_playground_completion_job",
                  "stop_ai_config_version_evaluation_job",
                  "clone_ai_config",
                  "edit_ai_config_version",
                  "delete_ai_config_version",
                  "clone_ai_config_version",
                  "ai_config_create",
                  "ai_playground_create",
                  "create_ai_dataset",
                  "create_ai_config_version",
                  "upsert_ai_config_version",
                  "create_ai_config_eval_grader",
                  "edit_ai_config_eval_grader",
                  "delete_ai_config_eval_grader",
                  "set_enable_id_resolution_toggle",
                  "dynamic_config_create",
                  "dynamic_config_template_create",
                  "dynamic_config_update_owners",
                  "gate_overrides_update",
                  "gate_template_create",
                  "gate_create",
                  "gate_update",
                  "set_user_sampling_rate_for_gate",
                  "gate_update_owners",
                  "update_store_0_100_exposures",
                  "update_gate_analytics_enabled",
                  "update_gate_display_name",
                  "release_pipeline_create",
                  "release_pipeline_update",
                  "release_pipeline_delete",
                  "update_config_release_pipeline",
                  "release_pipeline_trigger_create",
                  "apply_experiment_review",
                  "extend_experiment_pulse_end_date",
                  "restart_experiment_pulse",
                  "autotune_experiment_create",
                  "autotune_experiment_delete",
                  "autotune_experiment_snapshot_delete",
                  "autotune_experiment_edit",
                  "autotune_experiment_update_target_apps",
                  "autotune_experiment_update_pulse_paused",
                  "autotune_overrides_edit",
                  "autotune_reviews_on",
                  "experiment_data_report_delete",
                  "experiment_discussion_post_create",
                  "experiment_discussion_post_delete",
                  "experiment_abandon",
                  "experiment_pause_assignment",
                  "experiment_stopped",
                  "experiment_review_accept",
                  "experiment_review_reject",
                  "experiment_template_create",
                  "update_template_decision_framework",
                  "remove_template_decision_framework",
                  "experiment_create",
                  "experiment_review_create",
                  "experiment_delete",
                  "experiment_review_delete",
                  "experiment_review_update_team",
                  "experiment_snapshot_delete",
                  "experiment_group_disable",
                  "experiment_description_edit",
                  "experiment_display_name_edit",
                  "experiment_edit",
                  "experiment_overrides_edit",
                  "hypothesis_edit",
                  "key_experiment_metrics_edit",
                  "experiment_advanced_settings_edit",
                  "experiment_decision_make",
                  "experiment_restart",
                  "experiment_restart_as_new",
                  "experiment_rollout",
                  "experiment_schedule_rollout",
                  "experiment_reviews_on",
                  "experiment_start",
                  "schedule_experiment_start",
                  "experiment_follow_toggle",
                  "experiment_allowed_reviewers_update",
                  "experiment_review_info_update",
                  "update_experiment_enabled_non_prod_environments",
                  "archive_experiment",
                  "unarchive_experiment",
                  "experiment_update_owners",
                  "update_echidna_subtype",
                  "setup_stratified_sampling",
                  "experiment_update_target_apps",
                  "experiment_update_subdimension_filter",
                  "experiment_review_update_overrides",
                  "experiment_review_update_owners",
                  "experiment_update_decision_note",
                  "experiment_update_summary_sections",
                  "unattach_experiment_to_power_analysis_report",
                  "attach_experiment_to_power_analysis_report",
                  "pin_chart_to_summary",
                  "set_geotest_design",
                  "delete_geotest_design",
                  "create_geotest_design",
                  "experiment_assigned_to_layer",
                  "holdout_create",
                  "holdout_delete",
                  "holdout_layer_parameter_values_update",
                  "holdout_update",
                  "holdout_update_owners",
                  "metric_edit_definition",
                  "metric_edit_description",
                  "metric_add_tag",
                  "metric_remove_tag",
                  "schedule_delete_metric",
                  "schedule_archive_metric",
                  "update_metric_is_permanent",
                  "update_metric_is_verified",
                  "metric_reviews_on",
                  "metric_disable_reviews_locally",
                  "custom_metric_definition_edit",
                  "custom_metric_definition_create",
                  "custom_metric_definition_delete",
                  "custom_metric_update_owners",
                  "tag_metrics_bulk",
                  "tag_create",
                  "tag_delete",
                  "tag_edit",
                  "segment_create",
                  "segment_update_owners",
                  "layer_update_owners",
                  "layer_review_commit",
                  "layer_review_accept",
                  "layer_parameter_add",
                  "layer_create",
                  "layer_review_create",
                  "layer_review_delete",
                  "layer_delete",
                  "layer_snapshot_delete",
                  "layer_description_edit",
                  "layer_edit",
                  "layer_overrides_edit",
                  "layer_parameters_edit",
                  "layer_review_reject",
                  "layer_allowed_reviewers_update",
                  "layer_review_info_update",
                  "layer_update_target_apps",
                  "delete_layer_parameter",
                  "update_layer_parameter",
                  "config_review_accept",
                  "config_review_commit",
                  "config_review_create",
                  "config_delete",
                  "config_review_delete",
                  "config_reviews_disable",
                  "config_review_reject",
                  "config_resalt",
                  "config_revert",
                  "config_require_reviews",
                  "config_state_toggle",
                  "config_allowed_reviewers_update",
                  "config_conditions_update",
                  "config_default_value_update",
                  "config_description_update",
                  "config_display_name_update",
                  "config_environments_update",
                  "config_review_info_update",
                  "config_review_update",
                  "config_review_required_update",
                  "config_add_tag",
                  "config_edit_tags",
                  "config_remove_tag",
                  "config_monitoring_metrics_update",
                  "config_edit_target_apps",
                  "update_config_analytics_enabled",
                  "set_self_approvals_blocked",
                  "release_pipeline_completed",
                  "release_pipeline_waiting_for_review",
                  "pin_dashboard_for_company",
                  "add_dashboard_widget",
                  "create_dashboard",
                  "delete_dashboard_widget",
                  "edit_dashboard_widget",
                  "delete_dashboard",
                  "edit_dashboard_description",
                  "edit_dashboard_name",
                  "restore_dashboard",
                  "update_dashboard_widgets_from_generated_tags",
                  "dashboard_update_owners",
                  "update_dashboard_settings",
                  "create_topline_alert",
                  "update_topline_alert",
                  "delete_topline_alert",
                  "active_user_definition_update",
                  "company_create",
                  "company_metric_management_update",
                  "metric_allowed_reviewers_update",
                  "metric_review_commit",
                  "metric_review_create",
                  "metric_review_info_update",
                  "set_metric_directionality",
                  "custom_metric_edit",
                  "custom_metric_name_edit",
                  "custom_metric_review_accept",
                  "custom_metric_review_delete",
                  "custom_metric_review_reject",
                  "delete_metric",
                  "archive_metric",
                  "unarchive_metric",
                  "cancel_delete_metric",
                  "cancel_archive_metric",
                  "edit_guardrail_metric_alert",
                  "create_guardrail_metric_alert",
                  "delete_guardrail_metric_alert",
                  "resolve_guardrail_metric_alert",
                  "unsnooze_guardrail_metric_alert",
                  "update_echidna_metric_loading_window",
                  "update_metric_review_required",
                  "layer_reviews_on",
                  "delete_tag",
                  "ID_list_update",
                  "update_gate_is_permanent",
                  "load_echidna_metric",
                  "batch_load_echidna_topline_impact",
                  "update_server_sdk_configuration_rollback",
                  "company_ID_type_add",
                  "update_echidna_source_review_required",
                  "AWS_marketplace_account_delete",
                  "batch_cancel_company_invites",
                  "batch_user_role_update",
                  "company_basic_info_edit",
                  "company_delete",
                  "company_email_domain_config_delete",
                  "company_environments_edit",
                  "add_geo_type",
                  "delete_geo_type",
                  "company_ID_type_delete",
                  "company_ID_type_edit",
                  "company_invite_access_update",
                  "update_entities_require_teams",
                  "update_company_user_store_enabled",
                  "company_member_remove",
                  "company_metric_delete",
                  "company_snapshot_delete",
                  "config_id_type_update",
                  "config_update_owners",
                  "create_customer_app",
                  "edit_target_app",
                  "delete_target_app",
                  "source_allowed_reviewers_update",
                  "create_echidna_assignment_source",
                  "create_echidna_entity_property_source",
                  "create_echidna_metric_source",
                  "create_echidna_data_quality_checks",
                  "create_echidna_source_review",
                  "accept_echidna_source_review",
                  "commit_echidna_source_review",
                  "reject_echidna_source_review",
                  "update_echidna_source_review",
                  "delete_echidna_source_review",
                  "create_power_analysis_gate_query",
                  "create_power_analysis_custom_query",
                  "custom_pulse_query_create",
                  "custom_pulse_query_delete",
                  "custom_pulse_query_name_edit",
                  "custom_query_toggle_favorite",
                  "custom_sankey_delete",
                  "delete_echidna_assignment_source",
                  "delete_echidna_entity_property_source",
                  "delete_echidna_metric_source",
                  "delete_payment_method",
                  "tag_update_owners",
                  "modify_override_config",
                  "modify_overrides",
                  "remove_override_config",
                  "scheduled_custom_pulse_query_create",
                  "integration_delete",
                  "integration_create",
                  "integration_update",
                  "scheduled_pulse_custom_query_delete",
                  "scheduled_pulse_query_name_edit",
                  "user_data_load",
                  "organization_member_remove",
                  "shared_report_link_upsert",
                  "scheduled_pulse_rollups_update",
                  "OIDC_configuration_delete",
                  "project_review_group_delete",
                  "SSO_disable",
                  "project_description_edit",
                  "project_owner_set",
                  "user_role_update",
                  "OIDC_configuration_upsert",
                  "payment_entitlements_upsert",
                  "project_review_group_upsert",
                  "project_review_group_remove",
                  "update_team_settings",
                  "update_team_admins",
                  "update_team_name",
                  "update_team_description",
                  "update_team",
                  "shared_report_link_delete",
                  "experiment_data_report_rename",
                  "experiment_data_report_update_parameters",
                  "event_dimension_update",
                  "integration_set_enabled",
                  "integration_update_disabled_events",
                  "integration_update_outgoing_config",
                  "integration_update_rate_limits",
                  "integration_upsert",
                  "ingestion_source_delete",
                  "tag_configs_bulk",
                  "org_api_key_create",
                  "set_personal_api_key_access",
                  "sdk_key_create",
                  "sdk_key_deactivate",
                  "sdk_key_delete",
                  "secret_key_regenerate",
                  "sdk_key_update_description",
                  "set_api_share_key_access",
                  "set_plan_type",
                  "generate_integration_webhook_secret",
                  "set_default_payment_method",
                  "set_user_sampling_rate",
                  "sdk_key_update_environments",
                  "upsert_trigger_integration",
                  "delete_trigger_integration",
                  "dismiss_runaway_entity",
                  "update_echidna_metric_source",
                  "update_echidna_metric_source_name",
                  "update_echidna_metric_tag_or_description",
                  "update_echidna_assignment_source",
                  "update_echidna_assignment_source_name",
                  "update_echidna_assignment_source_loading_window",
                  "update_echidna_entity_property_source",
                  "update_echidna_entity_property_source_name",
                  "update_echidna_source_owner",
                  "update_precommit_hook",
                  "load_echidna_pulse",
                  "load_echidna_autotune_pulse",
                  "load_echidna_assignment_source",
                  "set_echidna_schedule_hour",
                  "echidna_drop_tables",
                  "upsert_user_role",
                  "delete_user_role",
                  "sdk_key_update_target_app",
                  "set_gate_analytics_enabled_by_default",
                  "set_dynamic_config_analytics_enabled_by_default",
                  "set_gate_analytics_0_100_exposures_enabled",
                  "update_bv3_subscription",
                  "upsert_experiment_settings",
                  "upsert_gate_settings",
                  "sdk_key_update_scopes",
                  "user_login",
                  "param_store_create",
                  "param_store_update",
                  "set_bv3_plan_type",
                  "set_echidna_project_pulse_schedule",
                  "set_echidna_project_metric_schedule",
                  "set_company_default_user_role",
                  "set_company_session_replay_sampling_rate",
                  "set_company_session_replay_settings",
                  "cancel_echidna_dag",
                  "set_require_target_app_for_new_entity",
                  "add_segments_of_interest_property",
                  "delete_segments_of_interest_property",
                  "add_srm_debugger_custom_dimension",
                  "delete_srm_debugger_custom_dimension",
                  "param_store_delete",
                  "setup_external_opt_in",
                  "param_store_update_owners",
                  "create_statsig_proxy",
                  "update_echidna_assignment_source_is_verified",
                  "update_echidna_metric_source_is_verified",
                  "update_echidna_entity_property_source_is_verified",
                  "update_echidna_source_is_verified",
                  "set_automated_bot_removals",
                  "pulse_results_export",
                  "update_company_auto_capture_settings",
                  "update_company_experiment_exclusion_segment",
                  "set_stop_new_assignment_toggle",
                  "set_stop_experiment_enabled",
                  "update_company_remove_default_gates_setting",
                  "set_whn_results_export_setting",
                  "update_experiment_quality_score_settings",
                  "update_experiment_salt",
                  "update_precommit_webhook_key",
                  "set_whn_table_ttls",
                  "set_id_resolution_inferred_id",
                  "set_id_resolution_labeled_id",
                  "add_session_recordings_to_playlist",
                  "delete_session_recordings_from_playlist",
                  "delete_session_replay_playlist",
                  "backfill_metric_results",
                  "cancel_metric_backfills",
                  "archive_org_project",
                  "update_ai_assistance_enabled",
                  "update_ai_business_context",
                  "update_experiment_ai_settings",
                  "upsert_ai_config_eval_groups",
                  "upsert_user_store_client_targeting_properties",
                  "set_ai_config_baseline_version",
                  "verify_dashboard",
                  "set_first_exposure_user_store_default",
                  "update_experiment_quality_score_criteria"
                ]
              }
            }
          },
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Expected valid date in the form of YYYY-MM-DD",
            "schema": {
              "example": "2024-01-01",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "Expected valid date in the form of YYYY-MM-DD",
            "schema": {
              "example": "2024-01-01",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Results per page",
            "schema": {
              "example": 10,
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "type": "integer"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number",
            "schema": {
              "example": 1,
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "type": "integer"
            }
          },
          {
            "name": "x-respect-review-settings",
            "in": "header",
            "description": "Optional header to respect review settings for mutation endpoints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit logs listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginationResponseWithMessage"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AuditLogDto"
                          }
                        }
                      }
                    }
                  ],
                  "example": {
                    "message": "Audit logs listed successfully.",
                    "data": [
                      {
                        "id": "25KPZcLjTY7AS1uZdBolPZ",
                        "name": "test_gate_1",
                        "changeLog": "Created Gate",
                        "actionType": "gate_create",
                        "date": "Mon Sep 26 2022",
                        "time": "23:46:14 GMT+0000 (Coordinated Universal Time)",
                        "updatedBy": "Jane Doe",
                        "updatedByUserID": "4eoDlYj7svJixZfDsYSn",
                        "changes": {
                          "rules": {
                            "new": [
                              {
                                "groupName": "test",
                                "percentagePass": 100,
                                "conditionJSON": [
                                  {
                                    "conditionType": 1,
                                    "operator": 0,
                                    "value": [
                                      "1"
                                    ],
                                    "extraConfig": {}
                                  }
                                ],
                                "returnValueJSON": "true",
                                "id": "BfGswoMDcsZ4y9Le1d9O",
                                "salt": "8df8n90p-d9bj-1l23-c9bl-1m022n9bzps8",
                                "environment": "production",
                                "rollouts": [],
                                "enabledEnvironments": [
                                  "development",
                                  "staging",
                                  "production"
                                ]
                              }
                            ],
                            "old": [
                              {
                                "groupName": "test",
                                "percentagePass": 100,
                                "conditionJSON": [
                                  {
                                    "conditionType": 1,
                                    "operator": 0,
                                    "value": [
                                      "1"
                                    ],
                                    "extraConfig": {}
                                  }
                                ],
                                "returnValueJSON": "true",
                                "id": "BfGswoMDcsZ4y9Le1d9O",
                                "salt": "8df8n90p-d9bj-1l23-c9bl-1m022n9bzps8",
                                "environment": "production",
                                "rollouts": [],
                                "enabledEnvironments": [
                                  "development",
                                  "staging"
                                ]
                              }
                            ]
                          }
                        }
                      },
                      {
                        "id": "19LZJaPtCM4GT1sUbWlqVC",
                        "name": "check_employee",
                        "changeLog": "Removed Tag from Config",
                        "actionType": "config_remove_tag",
                        "date": "Mon Sep 26 2022",
                        "time": "21:25:22 GMT+0000 (Coordinated Universal Time)",
                        "updatedBy": "John Doe",
                        "updatedByUserID": "fd7dWH15Ddncvl3xhVLH",
                        "changes": {}
                      },
                      {
                        "id": "76LGVrItCR9WE1iDfNmpHT",
                        "name": "check_employee",
                        "changeLog": "Removed Tag from Config",
                        "actionType": "config_remove_tag",
                        "date": "Mon Sep 26 2022",
                        "time": "21:25:18 GMT+0000 (Coordinated Universal Time)",
                        "updatedBy": "John Doe",
                        "updatedByUserID": "fd7dWH15Ddncvl3xhVLH",
                        "changes": {}
                      }
                    ],
                    "pagination": {
                      "itemsPerPage": 3,
                      "pageNumber": 2,
                      "totalItems": 829,
                      "nextPage": "statsigapi.net/console/v1/audit_logs?page=3&limit=3",
                      "previousPage": "statsigapi.net/console/v1/audit_logs?page=1&limit=3",
                      "all": "statsigapi.net/console/v1/audit_logs"
                    }
                  }
                },
                "example": {
                  "message": "Audit logs listed successfully.",
                  "data": [
                    {
                      "id": "25KPZcLjTY7AS1uZdBolPZ",
                      "name": "test_gate_1",
                      "changeLog": "Created Gate",
                      "actionType": "gate_create",
                      "date": "Mon Sep 26 2022",
                      "time": "23:46:14 GMT+0000 (Coordinated Universal Time)",
                      "updatedBy": "Jane Doe",
                      "updatedByUserID": "4eoDlYj7svJixZfDsYSn",
                      "changes": {
                        "rules": {
                          "new": [
                            {
                              "groupName": "test",
                              "percentagePass": 100,
                              "conditionJSON": [
                                {
                                  "conditionType": 1,
                                  "operator": 0,
                                  "value": [
                                    "1"
                                  ],
                                  "extraConfig": {}
                                }
                              ],
                              "returnValueJSON": "true",
                              "id": "BfGswoMDcsZ4y9Le1d9O",
                              "salt": "8df8n90p-d9bj-1l23-c9bl-1m022n9bzps8",
                              "environment": "production",
                              "rollouts": [],
                              "enabledEnvironments": [
                                "development",
                                "staging",
                                "production"
                              ]
                            }
                          ],
                          "old": [
                            {
                              "groupName": "test",
                              "percentagePass": 100,
                              "conditionJSON": [
                                {
                                  "conditionType": 1,
                                  "operator": 0,
                                  "value": [
                                    "1"
                                  ],
                                  "extraConfig": {}
                                }
                              ],
                              "returnValueJSON": "true",
                              "id": "BfGswoMDcsZ4y9Le1d9O",
                              "salt": "8df8n90p-d9bj-1l23-c9bl-1m022n9bzps8",
                              "environment": "production",
                              "rollouts": [],
                              "enabledEnvironments": [
                                "development",
                                "staging"
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "id": "19LZJaPtCM4GT1sUbWlqVC",
                      "name": "check_employee",
                      "changeLog": "Removed Tag from Config",
                      "actionType": "config_remove_tag",
                      "date": "Mon Sep 26 2022",
                      "time": "21:25:22 GMT+0000 (Coordinated Universal Time)",
                      "updatedBy": "John Doe",
                      "updatedByUserID": "fd7dWH15Ddncvl3xhVLH",
                      "changes": {}
                    },
                    {
                      "id": "76LGVrItCR9WE1iDfNmpHT",
                      "name": "check_employee",
                      "changeLog": "Removed Tag from Config",
                      "actionType": "config_remove_tag",
                      "date": "Mon Sep 26 2022",
                      "time": "21:25:18 GMT+0000 (Coordinated Universal Time)",
                      "updatedBy": "John Doe",
                      "updatedByUserID": "fd7dWH15Ddncvl3xhVLH",
                      "changes": {}
                    }
                  ],
                  "pagination": {
                    "itemsPerPage": 3,
                    "pageNumber": 2,
                    "totalItems": 829,
                    "nextPage": "statsigapi.net/console/v1/audit_logs?page=3&limit=3",
                    "previousPage": "statsigapi.net/console/v1/audit_logs?page=1&limit=3",
                    "all": "statsigapi.net/console/v1/audit_logs"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Audit Logs"
        ],
        "security": [
          {
            "STATSIG-API-KEY": []
          }
        ]
      }
    },
    "/console/v1/autotunes": {
      "get": {
        "summary": "List Autotune",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Results per page",
            "schema": {
              "example": 10,
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "type": "integer"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number",
            "schema": {
              "example": 1,
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "type": "integer"
            }
          },
          {
            "name": "x-respect-review-settings",
            "in": "header",
            "description": "Optional header to respect review settings for mutation endpoints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autotune Experiments listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginationResponseWithMessage"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AutotuneExperimentDto"
                          }
                        }
                      }
                    }
                  ],
                  "example": {
                    "message": "Autotune Experiments listed successfully.",
                    "data": [
                      {
                        "id": "test_autotune_exp",
                        "name": "test_autotune_exp",
                        "description": "dsdsdsd test",
                        "idType": "userID",
                        "lastModifierID": "24hiIXz1maFaDwtYEetv2i",
                        "lastModifiedTime": 1716324033128,
                        "lastModifierName": "jairo Garciga",
                        "lastModifierEmail": "jairo@statsig.com",
                        "creatorID": "5sgBiiuoBX4fscrWdCXVma",
                        "createdTime": 1688072516890,
                        "creatorName": "Samuel Kitono",
                        "creatorEmail": "samuel@statsig.com",
                        "targetApps": [],
                        "holdoutIDs": [],
                        "tags": [],
                        "team": null,
                        "isStarted": false,
                        "variants": [
                          {
                            "name": "test_12",
                            "id": "7eOW6aXU7F07KxrggOrAdy",
                            "json": {
                              "user": {
                                "id": 12345,
                                "name": "Jane Doe",
                                "email": "jane.doe@example.com",
                                "isActive": true,
                                "roles": [
                                  "admin",
                                  "editor",
                                  "subscriber"
                                ]
                              },
                              "posts": [
                                {
                                  "id": 1,
                                  "title": "Introduction to JSON5",
                                  "content": "JSON5 is a superset of JSON that aims to be easier for humans to write and maintain.",
                                  "tags": [
                                    "json5",
                                    "json",
                                    "javascript"
                                  ],
                                  "comments": [
                                    {
                                      "id": 101,
                                      "author": "John Smith",
                                      "content": "Great post! Very informative.",
                                      "likes": 5
                                    },
                                    {
                                      "id": 102,
                                      "author": "Alice Johnson",
                                      "content": "I found this very helpful. Thanks!",
                                      "likes": 3
                                    }
                                  ]
                                },
                                {
                                  "id": 2,
                                  "title": "Advanced JSON5 Features",
                                  "content": "Explore the advanced features of JSON5, including comments, trailing commas, and more.",
                                  "tags": [
                                    "json5",
                                    "advanced",
                                    "features"
                                  ],
                                  "comments": [
                                    {
                                      "id": 201,
                                      "author": "Bob Brown",
                                      "content": "I didn't know JSON5 could do this. Amazing!",
                                      "likes": 8
                                    }
                                  ]
                                }
                              ],
                              "settings": {
                                "theme": "dark",
                                "notificationsEnabled": true,
                                "language": "en-US",
                                "layout": {
                                  "header": true,
                                  "footer": true,
                                  "sidebar": "collapsed"
                                }
                              },
                              "metadata": {
                                "version": "1.0.0",
                                "author": "Jane Doe",
                                "lastUpdated": "2024-05-21T10:00:00Z"
                              }
                            }
                          },
                          {
                            "name": "var1",
                            "id": "7eOW6cCWzX9C3WZbRWndwA",
                            "json": {}
                          },
                          {
                            "name": "control",
                            "id": "7GVLLJOBETDYXLn00FXFuQ",
                            "json": {}
                          }
                        ],
                        "successEvent": "add_to_cart",
                        "successEventValue": "",
                        "explorationWindow": "24hrs",
                        "attributionWindow": "2hrs",
                        "winnerThreshold": "95%",
                        "winner": null
                      }
                    ],
                    "pagination": {
                      "itemsPerPage": 100,
                      "pageNumber": 1,
                      "totalItems": 1,
                      "nextPage": null,
                      "previousPage": null,
                      "all": "/console/v1/autotunes"
                    }
                  }
                },
                "example": {
                  "message": "Autotune Experiments listed successfully.",
                  "data": [
                    {
                      "id": "test_autotune_exp",
                      "name": "test_autotune_exp",
                      "description": "dsdsdsd test",
                      "idType": "userID",
                      "lastModifierID": "24hiIXz1maFaDwtYEetv2i",
                      "lastModifiedTime": 1716324033128,
                      "lastModifierName": "jairo Garciga",
                      "lastModifierEmail": "jairo@statsig.com",
                      "creatorID": "5sgBiiuoBX4fscrWdCXVma",
                      "createdTime": 1688072516890,
                      "creatorName": "Samuel Kitono",
                      "creatorEmail": "samuel@statsig.com",
                      "targetApps": [],
                      "holdoutIDs": [],
                      "tags": [],
                      "team": null,
                      "isStarted": false,
                      "variants": [
                        {
                          "name": "test_12",
                          "id": "7eOW6aXU7F07KxrggOrAdy",
                          "json": {
                            "user": {
                              "id": 12345,
                              "name": "Jane Doe",
                              "email": "jane.doe@example.com",
                              "isActive": true,
                              "roles": [
                                "admin",
                                "editor",
                                "subscriber"
                              ]
                            },
                            "posts": [
                              {
                                "id": 1,
                                "title": "Introduction to JSON5",
                                "content": "JSON5 is a superset of JSON that aims to be easier for humans to write and maintain.",
                                "tags": [
                                  "json5",
                                  "json",
                                  "javascript"
                                ],
                                "comments": [
                                  {
                                    "id": 101,
                                    "author": "John Smith",
                                    "content": "Great post! Very informative.",
                                    "likes": 5
                                  },
                                  {
                                    "id": 102,
                                    "author": "Alice Johnson",
                                    "content": "I found this very helpful. Thanks!",
                                    "likes": 3
                                  }
                                ]
                              },
                              {
                                "id": 2,
                                "title": "Advanced JSON5 Features",
                                "content": "Explore the advanced features of JSON5, including comments, trailing commas, and more.",
                                "tags": [
                                  "json5",
                                  "advanced",
                                  "features"
                                ],
                                "comments": [
                                  {
                                    "id": 201,
                                    "author": "Bob Brown",
                                    "content": "I didn't know JSON5 could do this. Amazing!",
                                    "likes": 8
                                  }
                                ]
                              }
                            ],
                            "settings": {
                              "theme": "dark",
                              "notificationsEnabled": true,
                              "language": "en-US",
                              "layout": {
                                "header": true,
                                "footer": true,
                                "sidebar": "collapsed"
                              }
                            },
                            "metadata": {
                              "version": "1.0.0",
                              "author": "Jane Doe",
                              "lastUpdated": "2024-05-21T10:00:00Z"
                            }
                          }
                        },
                        {
                          "name": "var1",
                          "id": "7eOW6cCWzX9C3WZbRWndwA",
                          "json": {}
                        },
                        {
                          "name": "control",
                          "id": "7GVLLJOBETDYXLn00FXFuQ",
                          "json": {}
                        }
                      ],
                      "successEvent": "add_to_cart",
                      "successEventValue": "",
                      "explorationWindow": "24hrs",
                      "attributionWindow": "2hrs",
                      "winnerThreshold": "95%",
                      "winner": null
                    }
                  ],
                  "pagination": {
                    "itemsPerPage": 100,
                    "pageNumber": 1,
                    "totalItems": 1,
                    "nextPage": null,
                    "previousPage": null,
                    "all": "/console/v1/autotunes"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Autotunes"
        ],
        "security": [
          {
            "STATSIG-API-KEY": []
          }
        ]
      },
      "post": {
        "summary": "Create Autotune",
        "parameters": [
          {
            "name": "x-respect-review-settings",
            "in": "header",
            "description": "Optional header to respect review settings for mutation endpoints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutotuneCreateDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create Autotune Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SingleDataResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutotuneExperimentDto"
                        }
                      }
                    }
                  ],
                  "example": {
                    "message": "Autotune Experiments created successfully.",
                    "data": {
                      "id": "button_color_test",
                      "isStarted": false,
                      "description": "Which color button gets the most clicks.",
                      "lastModifierID": "ajv762klv9nx9hca",
                      "lastModifierName": "CONSOLE API",
                      "variants": [
                        {
                          "name": "red",
                          "json": {
                            "color": "red"
                          }
                        },
                        {
                          "name": "blue",
                          "json": {
                            "color": "blue"
                          }
                        }
                      ],
                      "successEvent": "click",
                      "successEventValue": "",
                      "explorationWindow": "1hr",
                      "attributionWindow": "2hrs",
                      "winnerThreshold": "99%"
                    }
                  }
                },
                "example": {
                  "message": "Autotune Experiments created successfully.",
                  "data": {
                    "id": "button_color_test",
                    "isStarted": false,
                    "description": "Which color button gets the most clicks.",
                    "lastModifierID": "ajv762klv9nx9hca",
                    "lastModifierName": "CONSOLE API",
                    "variants": [
                      {
                        "name": "red",
                        "json": {
                          "color": "red"
                        }
                      },
                      {
                        "name": "blue",
                        "json": {
                          "color": "blue"
                        }
                      }
                    ],
                    "successEvent": "click",
                    "successEventValue": "",
                    "explorationWindow": "1hr",
                    "attributionWindow": "2hrs",
                    "winnerThreshold": "99%"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Please check the request input and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        400
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Invalid Request": {
                    "value": {
                      "status": 400,
                      "message": "Invalid request. Please check the request input and try again."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Invalid Endpoint": {
                    "value": {
                      "status": 401,
                      "message": "This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Autotunes"
        ],
        "security": [
          {
            "STATSIG-API-KEY": []
          }
        ]
      }
    },
    "/console/v1/autotunes/{id}": {
      "get": {
        "summary": "Read Autotune",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-respect-review-settings",
            "in": "header",
            "description": "Optional header to respect review settings for mutation endpoints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Read Autotune Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SingleDataResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutotuneExperimentDto"
                        }
                      }
                    }
                  ],
                  "example": {
                    "message": "Autotune Experiment read successfully.",
                    "data": {
                      "id": "my_autotunes_are_best",
                      "isStarted": false,
                      "description": "helpful summary of what this Autotune is",
                      "lastModifierID": "jd93DGSnvkauH9FijdGiajh",
                      "lastModifierName": "CONSOLE API",
                      "variants": [
                        {
                          "name": "red",
                          "json": {
                            "foo": "boo"
                          }
                        },
                        {
                          "name": "blue",
                          "json": {}
                        }
                      ],
                      "successEvent": "purchase_item",
                      "successEventValue": "",
                      "explorationWindow": "1hr",
                      "attributionWindow": "2hrs",
                      "winnerThreshold": "99%"
                    }
                  }
                },
                "example": {
                  "message": "Autotune Experiment read successfully.",
                  "data": {
                    "id": "my_autotunes_are_best",
                    "isStarted": false,
                    "description": "helpful summary of what this Autotune is",
                    "lastModifierID": "jd93DGSnvkauH9FijdGiajh",
                    "lastModifierName": "CONSOLE API",
                    "variants": [
                      {
                        "name": "red",
                        "json": {
                          "foo": "boo"
                        }
                      },
                      {
                        "name": "blue",
                        "json": {}
                      }
                    ],
                    "successEvent": "purchase_item",
                    "successEventValue": "",
                    "explorationWindow": "1hr",
                    "attributionWindow": "2hrs",
                    "winnerThreshold": "99%"
                  }
                }
              }
            }
          },
          "401": {
            "description": "This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Invalid Endpoint": {
                    "value": {
                      "status": 401,
                      "message": "This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        404
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Not Found": {
                    "value": {
                      "status": 404,
                      "message": "Not Found. The requested resource could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Autotunes"
        ],
        "security": [
          {
            "STATSIG-API-KEY": []
          }
        ]
      },
      "post": {
        "summary": "Fully Update Autotune",
        "description": "Update all properties of the experiment",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-respect-review-settings",
            "in": "header",
            "description": "Optional header to respect review settings for mutation endpoints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutotuneFullUpdateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fully Update Autotune Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SingleDataResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutotuneExperimentDto"
                        }
                      }
                    }
                  ],
                  "example": {
                    "message": "Autotune Experiment read successfully.",
                    "data": {
                      "id": "my_autotunes_are_best",
                      "isStarted": false,
                      "description": "helpful summary of what this Autotune is",
                      "lastModifierID": "jd93DGSnvkauH9FijdGiajh",
                      "lastModifierName": "CONSOLE API",
                      "variants": [
                        {
                          "name": "red",
                          "json": {
                            "color": "red"
                          }
                        },
                        {
                          "name": "blue",
                          "json": {
                            "color": "blue"
                          }
                        }
                      ],
                      "successEvent": "purchase_item",
                      "successEventValue": "",
                      "explorationWindow": "1hr",
                      "attributionWindow": "2hrs",
                      "winnerThreshold": "99%"
                    }
                  }
                },
                "example": {
                  "message": "Autotune Experiment read successfully.",
                  "data": {
                    "id": "my_autotunes_are_best",
                    "isStarted": false,
                    "description": "helpful summary of what this Autotune is",
                    "lastModifierID": "jd93DGSnvkauH9FijdGiajh",
                    "lastModifierName": "CONSOLE API",
                    "variants": [
                      {
                        "name": "red",
                        "json": {
                          "color": "red"
                        }
                      },
                      {
                        "name": "blue",
                        "json": {
                          "color": "blue"
                        }
                      }
                    ],
                    "successEvent": "purchase_item",
                    "successEventValue": "",
                    "explorationWindow": "1hr",
                    "attributionWindow": "2hrs",
                    "winnerThreshold": "99%"
                  }
                }
              }
            }
          },
          "401": {
            "description": "This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Invalid Endpoint": {
                    "value": {
                      "status": 401,
                      "message": "This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        404
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Not Found": {
                    "value": {
                      "status": 404,
                      "message": "Not Found. The requested resource could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Autotunes"
        ],
        "security": [
          {
            "STATSIG-API-KEY": []
          }
        ]
      },
      "patch": {
        "summary": "Partially Update Autotune",
        "description": "Update selected properties of the experiment",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-respect-review-settings",
            "in": "header",
            "description": "Optional header to respect review settings for mutation endpoints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutotunePartialUpdateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Partially Update Autotune Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SingleDataResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutotuneExperimentDto"
                        }
                      }
                    }
                  ],
                  "example": {
                    "message": "Autotune Experiment updated successfully.",
                    "data": {
                      "id": "a_autotune",
                      "isStarted": false,
                      "description": "helpful summary of what this Autotune is",
                      "lastModifierID": "jd93DGSnvkauH9FijdGiajh",
                      "lastModifierName": "CONSOLE API",
                      "variants": [
                        {
                          "name": "red",
                          "json": {
                            "color": "red"
                          }
                        },
                        {
                          "name": "blue",
                          "json": {
                            "color": "blue"
                          }
                        }
                      ],
                      "successEvent": "purchase_item",
                      "successEventValue": "",
                      "explorationWindow": "1hr",
                      "attributionWindow": "2hrs",
                      "winnerThreshold": "99%"
                    }
                  }
                },
                "example": {
                  "message": "Autotune Experiment updated successfully.",
                  "data": {
                    "id": "a_autotune",
                    "isStarted": false,
                    "description": "helpful summary of what this Autotune is",
                    "lastModifierID": "jd93DGSnvkauH9FijdGiajh",
                    "lastModifierName": "CONSOLE API",
                    "variants": [
                      {
                        "name": "red",
                        "json": {
                          "color": "red"
                        }
                      },
                      {
                        "name": "blue",
                        "json": {
                          "color": "blue"
                        }
                      }
                    ],
                    "successEvent": "purchase_item",
                    "successEventValue": "",
                    "explorationWindow": "1hr",
                    "attributionWindow": "2hrs",
                    "winnerThreshold": "99%"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Please check the request input and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        400
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Invalid Request": {
                    "value": {
                      "status": 400,
                      "message": "Invalid request. Please check the request input and try again."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Invalid Endpoint": {
                    "value": {
                      "status": 401,
                      "message": "This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        404
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Not Found": {
                    "value": {
                      "status": 404,
                      "message": "Not Found. The requested resource could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Autotunes"
        ],
        "security": [
          {
            "STATSIG-API-KEY": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Autotune",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-respect-review-settings",
            "in": "header",
            "description": "Optional header to respect review settings for mutation endpoints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete Autotune Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Autotune Experiment deleted successfully."
                  }
                },
                "example": {
                  "message": "Autotune Experiment deleted successfully."
                }
              }
            }
          },
          "401": {
            "description": "This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Invalid Endpoint": {
                    "value": {
                      "status": 401,
                      "message": "This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "enum": [
                        404
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                },
                "examples": {
                  "Not Found": {
                    "value": {
                      "status": 404,
                      "message": "Autotune Experiment not found."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Autotunes"
        ],
        "security": [
          {
            "STATSIG-API-KEY": []
          }
        ]
      }
    },
    "/console/v1/autotunes/{id}/make_decision": {
      "put": {
        "summary": "Finish Experiment Early",
        "parameters": [
          {
            "name": "id",
[...]
