{
  "openapi": "3.0.0",
  "info": {
    "title": "Audit Log",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://statsigapi.net/console/v1" }],
  "components": {
    "securitySchemes": {
      "STATSIG-API-KEY": {
        "type": "apiKey",
        "in": "header",
        "name": "STATSIG-API-KEY"
      }
    },
    "schemas": {},
    "parameters": {
      "pagination-limit": {
        "name": "limit",
        "in": "query",
        "required": true,
        "schema": { "type": "number", "example": 5 },
        "description": "The number of items per page to return"
      },
      "pagination-page": {
        "name": "page",
        "in": "query",
        "required": true,
        "schema": { "type": "number", "example": 1 },
        "description": "The page number to return"
      },
      "date-start-string": {
        "name": "startDate",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "example": "2024-05-01",
          "format": "date"
        },
        "description": "Start date (YYYY-MM-DD)"
      },
      "date-end-string": {
        "name": "endDate",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "2024-05-01",
          "format": "date"
        },
        "description": "End date (YYYY-MM-DD)"
      }
    }
  },
  "security": [{ "STATSIG-API-KEY": [] }],
  "paths": {
    "/audit_logs": {
      "get": {
        "tags": ["Audit Logs"],
        "summary": "Read Audit Logs",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "$ref": "../../models/message.json" },
                    "data": {
                      "type": "array",
                      "description": "Array of existing Audit Logs",
                      "items": { "$ref": "../../models/audit_log.json" }
                    },
                    "pagination": { "$ref": "../../models/pagination.json" }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "message": "Audit logs listed successfully.",
                      "data": [
                        {
                          "id": "25KPZcLjTY7AS1uZdBolPZ",
                          "name": "test_gate_1",
                          "changeLog": "Created Gate",
                          "actionType": "gate_create",
                          "date": "Mon Sep 26 2022",
                          "time": "23:46:14 GMT+0000 (Coordinated Universal Time)",
                          "updatedBy": "Jane Doe",
                          "updatedByUserID": "4eoDlYj7svJixZfDsYSn",
                          "changes": {
                            "rules": {
                              "new": [
                                {
                                  "groupName": "test",
                                  "percentagePass": 100,
                                  "conditionJSON": [
                                    {
                                      "conditionType": 1,
                                      "operator": 0,
                                      "value": ["1"],
                                      "extraConfig": {}
                                    }
                                  ],
                                  "returnValueJSON": "true",
                                  "id": "BfGswoMDcsZ4y9Le1d9O",
                                  "salt": "8df8n90p-d9bj-1l23-c9bl-1m022n9bzps8",
                                  "environment": "production",
                                  "rollouts": [],
                                  "enabledEnvironments": [
                                    "development",
                                    "staging",
                                    "production"
                                  ]
                                }
                              ],
                              "old": [
                                {
                                  "groupName": "test",
                                  "percentagePass": 100,
                                  "conditionJSON": [
                                    {
                                      "conditionType": 1,
                                      "operator": 0,
                                      "value": ["1"],
                                      "extraConfig": {}
                                    }
                                  ],
                                  "returnValueJSON": "true",
                                  "id": "BfGswoMDcsZ4y9Le1d9O",
                                  "salt": "8df8n90p-d9bj-1l23-c9bl-1m022n9bzps8",
                                  "environment": "production",
                                  "rollouts": [],
                                  "enabledEnvironments": [
                                    "development",
                                    "staging"
                                  ]
                                }
                              ]
                            }
                          }
                        },
                        {
                          "id": "19LZJaPtCM4GT1sUbWlqVC",
                          "name": "check_employee",
                          "changeLog": "Removed Tag from Config",
                          "actionType": "config_remove_tag",
                          "date": "Mon Sep 26 2022",
                          "time": "21:25:22 GMT+0000 (Coordinated Universal Time)",
                          "updatedBy": "John Doe",
                          "updatedByUserID": "fd7dWH15Ddncvl3xhVLH",
                          "changes": {}
                        },
                        {
                          "id": "76LGVrItCR9WE1iDfNmpHT",
                          "name": "check_employee",
                          "changeLog": "Removed Tag from Config",
                          "actionType": "config_remove_tag",
                          "date": "Mon Sep 26 2022",
                          "time": "21:25:18 GMT+0000 (Coordinated Universal Time)",
                          "updatedBy": "John Doe",
                          "updatedByUserID": "fd7dWH15Ddncvl3xhVLH",
                          "changes": {}
                        }
                      ],
                      "pagination": {
                        "itemsPerPage": 3,
                        "pageNumber": 2,
                        "totalItems": 829,
                        "nextPage": "statsigapi.net/console/v1/audit_logs?page=3&limit=3",
                        "previousPage": "statsigapi.net/console/v1/audit_logs?page=1&limit=3",
                        "all": "statsigapi.net/console/v1/audit_logs"
                      }
                    }
                  },
                  "?id=Daniel West": {
                    "value": {
                      "message": "Audit logs listed successfully.",
                      "data": [
                        {
                          "id": "1x6btqfUDGLusBPZw63x32",
                          "name": "Daniel West",
                          "changeLog": "User logged in",
                          "actionType": "user_login",
                          "date": "Tue Dec 12 2023",
                          "time": "19:39:42 GMT+0000 (Coordinated Universal Time)",
                          "updatedBy": "Daniel West",
                          "updatedByUserID": "35sClJFs8l0y5uRQhDwUDo",
                          "modifierEmail": "danielwest@statsig.com",
                          "changes": {},
                          "tags": []
                        },
                        {
                          "id": "5g3DEkViuRHvdeSX7FzDJQ",
                          "name": "Daniel West",
                          "changeLog": "User logged in",
                          "actionType": "user_login",
                          "date": "Tue Dec 12 2023",
                          "time": "18:31:33 GMT+0000 (Coordinated Universal Time)",
                          "updatedBy": "Daniel West",
                          "updatedByUserID": "35sClJFs8l0y5uRQhDwUDo",
                          "modifierEmail": "danielwest@statsig.com",
                          "changes": {},
                          "tags": []
                        },
                        {
                          "id": "3d2GvfwsfXcYaC0cVCmgeL",
                          "name": "Daniel West",
                          "changeLog": "User logged in",
                          "actionType": "user_login",
                          "date": "Tue Dec 12 2023",
                          "time": "02:01:49 GMT+0000 (Coordinated Universal Time)",
                          "updatedBy": "Daniel West",
                          "updatedByUserID": "35sClJFs8l0y5uRQhDwUDo",
                          "modifierEmail": "danielwest@statsig.com",
                          "changes": {},
                          "tags": []
                        },
                        {
                          "id": "2ORHJYB2kL5nMPNES5mtCl",
                          "name": "Daniel West",
                          "changeLog": "User logged in",
                          "actionType": "user_login",
                          "date": "Mon Dec 11 2023",
                          "time": "18:30:29 GMT+0000 (Coordinated Universal Time)",
                          "updatedBy": "Daniel West",
                          "updatedByUserID": "35sClJFs8l0y5uRQhDwUDo",
                          "modifierEmail": "danielwest@statsig.com",
                          "changes": {},
                          "tags": []
                        },
                        {
                          "id": "6vjxStOnA23TmApETMbuKV",
                          "name": "Daniel West",
                          "changeLog": "User logged in",
                          "actionType": "user_login",
                          "date": "Mon Dec 11 2023",
                          "time": "18:26:43 GMT+0000 (Coordinated Universal Time)",
                          "updatedBy": "Daniel West",
                          "updatedByUserID": "35sClJFs8l0y5uRQhDwUDo",
                          "modifierEmail": "danielwest@statsig.com",
                          "changes": {},
                          "tags": []
                        }
                      ],
                      "pagination": {
                        "itemsPerPage": 5,
                        "pageNumber": 1,
                        "totalItems": 13,
                        "nextPage": "/console/v1/audit_logs?id=Daniel West&sortKey=time&sortOrder=desc&latestID=25KPZcLjTY7AS1uZdBolPZ&page=2&limit=5",
                        "previousPage": null,
                        "all": "/console/v1/audit_logs"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vary": { "schema": { "type": "string", "example": "Origin" } },
              "access-control-allow-origin": {
                "schema": { "type": "string", "example": "*" }
              },
              "content-type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "content-length": {
                "schema": { "type": "integer", "example": 45 }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 23 Jan 2022 23:38:21 GMT"
                }
              },
              "Connection": {
                "schema": { "type": "string", "example": "keep-alive" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "$ref": "../../models/status.json" },
                    "message": { "$ref": "../../models/message.json" }
                  }
                },
                "example": { "status": 403, "message": "Forbidden resource" },
                "examples": {
                  "example-1": {
                    "value": { "status": 404, "message": "Audit log not found" }
                  }
                }
              }
            }
          }
        },
        "description": "",
        "requestBody": { "content": {} },
        "operationId": "",
        "parameters": [
          {
            "schema": { "type": "string", "example": "example_audit_log" },
            "in": "query",
            "name": "id",
            "description": "The name of audit log the to be queried"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "changeLog",
                "actionType",
                "date",
                "time",
                "updatedBy",
                "updatedByUserID"
              ],
              "example": "date",
              "default": "time"
            },
            "in": "query",
            "name": "sortKey",
            "description": "Sort by key"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["acs", "desc"],
              "default": "desc"
            },
            "in": "query",
            "name": "sortOrder",
            "description": "Sort by order"
          },
          {
            "schema": { "type": "string", "example": "25KPZcLjTY7AS1uZdBolPZ" },
            "in": "query",
            "name": "latestID",
            "description": "If specified, returns up to the specified audit log (exclusive) "
          },
          {
            "schema": { "type": "array", "example": "[tag1, tag2]" },
            "in": "query",
            "name": "tags",
            "description": "List of tags to filter by"
          },
          { "$ref": "#/components/parameters/pagination-limit" },
          { "$ref": "#/components/parameters/pagination-page" },
          { "$ref": "#/components/parameters/date-start-string" },
          { "$ref": "#/components/parameters/date-end-string" }
        ]
      },
      "parameters": []
    }
  }
}
