/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

article header h1 {
  font-size: 2rem !important;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem !important;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem !important;
}

h5 {
  font-size: 1rem;
}

a {
  font-weight: 500;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1b63d2;
  --ifm-color-primary-dark: #005693;
  --ifm-color-primary-darker: #0069b3;
  --ifm-color-primary-darkest: #006fbd;
  --ifm-color-primary-light: #0087e7;
  --ifm-color-primary-lighter: #008df1;
  --ifm-color-primary-lightest: #129dff;
  --ifm-link-color: #1b63d2;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
  --ifm-font-size-base: 0.95em;

  --ifm-menu-color: #000;
  --ifm-menu-color-active: #1b63d2;
  --ifm-menu-color-background-active: #0068b311;
  --ifm-navbar-background-color: #ffffff;
  --ifm-menu-link-padding-vertical: 0.4rem;

  --ifm-transition-fast: 100ms;
}

html[data-theme="dark"] {
  --ifm-color-primary: #2196f3;
  --ifm-color-primary-dark: #007bd2;
  /* any other colors you wish to overwrite */

  --ifm-link-color: #1b63d2;
  --ifm-menu-color: #ccc;
  --ifm-menu-color-active: #fff;
  --ifm-menu-color-background-active: #194b7d99;

  --ifm-navbar-background-color: #242526;
}

.docusaurus-highlight-code-line {
  background-color: #000;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.footer__copyright {
  color: #999;
  margin-top: 4em;
  font-size: small;
}

.footer {
  padding-bottom: 1em;
}

.footer--dark {
  --ifm-footer-background-color: #1b2528;
}

.menu {
  text-transform: none;
  font-size: 14px;
}

.alert--info {
  --ifm-alert-background-color: #2196f333;
  --ifm-alert-border-color: #2196f3;
  --ifm-alert-color: #2196f3;
  --ra-admonition-icon-color: #2196f3;
}

.alert--warning {
  --ifm-alert-background-color: #ff980033;
  --ifm-alert-border-color: #ff9800;
  --ifm-alert-color: #ff9800;
  --ra-admonition-icon-color: #ff9800;
}

.alert--danger {
  --ifm-alert-background-color: #f4433633;
  --ifm-alert-border-color: #f44336;
  --ifm-alert-color: #f44336;
  --ra-admonition-icon-color: #f44336;
}

.img-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.katex {
  font-size: 80%;
}

.katex .base {
  vertical-align: 0em;
  /* Adjust this value as needed */
}

.menu__link {
  font-size: 0.9rem;
}

.menu__caret:before,
.menu__link--sublist-caret:before,
.menu__link--sublist-caret:after {
  background-size: 1.2rem 1.2rem;
  filter: drop-shadow(0 0 0 #000);
}

.math-inline {
  line-height: 1;
}

.prism-code {
  border: 1px solid #ddd;
  font-size: 0.85rem;
}

.sdk-toc-header {
  background-color: blue;
  color: red;
}

span.math.math-inline {
  font-size: 150%;
}

.CTA {
  font-weight: 600;
  border-radius: 5px;
  text-transform: none;
  white-space: nowrap;
  font-size: 14px;
  padding: 6px 16px;
  min-height: 34px;
  cursor: pointer;
  border: 0px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.signupCTA {
  background-color: #1b63d2;
  color: rgb(255, 255, 255);
}

.loginCTA {
  background-color: transparent;
  color: #1b63d2;
}

[data-theme="dark"] .loginCTA {
  color: #fff;
}

.DocSearch-Button-Key {
  background: white !important;
  box-shadow: none !important;
}

.DocSearch-Button-Placeholder {
  font-family: "Open Sans", sans-serif;
}

.col {
  padding: 0px 16px;
}

.box {
  padding: 16px;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
}

.box.code {
  font-family: monospace;
}

@media (min-width: 768px) {
  .col {
    padding: 0px 60px;
  }

  .navbar__items>div:has(.DocSearch) {
    margin-left: auto;
    margin-right: 40px;
  }

  .navbar__logo {
    height: 25px;
    margin-left: 5px;
  }

  .DocSearch-Button {
    min-width: 350px;
  }
}

.warning {
  margin-bottom: 16px;
}

.theme-doc-sidebar-item-category-level-1>.menu__list-item-collapsible {
  /* border-bottom: 1px solid #e0e0e0;  */
  border-top: 1px solid #e0e0e0;
  /* padding-bottom: 5px; */
  margin-top: 15px;
  padding-top: 15px;
}

.theme-doc-sidebar-item-category-level-1>.menu__list-item-collapsible>.menu__link {
  color: gray;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  margin-left: 8px;
}

.theme-doc-sidebar-item-category-level-1>.menu__list-item-collapsible {
  background: none;
}

.menu__list>.menu__list-item:first-child .menu__list-item-collapsible {
  border-top: none;
  /* Remove border-top for the first element */
  padding-top: 0;
  /* Adjust padding if necessary */
}

.theme-doc-sidebar-item-category-level-2 .menu__list {
  margin-left: 24px;
}

.menu__link {
  font-weight: 600;
}

.sidebar-icon>.menu__link {
  padding-left: calc(25px + var(--ifm-menu-link-padding-horizontal));
}

.sidebar-icon>.menu__list-item-collapsible {
  padding-left: 25px;
}

.sidebar-icon {
  align-items: center;
  position: relative;
}

.sidebar-icon::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-left: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
}

/* 
[data-theme="dark"] .menu__link--sublist-caret::after, .sidebar-icon::before .menu__caret:before {
  filter: var(--ifm-menu-link-sublist-icon-filter);
} */

/* .sidebar-icon:has(> .menu__link--active) {
  background-color: var(--ifm-menu-color-background-active);
} */
.menu__caret:before {
  filter: var(--ifm-menu-link-sublist-icon-filter);
}

.menu__link--active:not(.menu__link--sublist) {
  background-color: unset;
}

.rocket-icon::before {
  background-image: url("/img/icons/sidebar/rocket.svg");
}

.rocket-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/rocket-active.svg");
}

.doc-icon::before {
  background-image: url("/img/icons/sidebar/doc.svg");
}

.doc-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/doc-active.svg");
}

.key-icon::before {
  background-image: url("/img/icons/sidebar/key.svg");
}

.key-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/key-active.svg");
}

.integrations-icon::before {
  background-image: url("/img/icons/sidebar/integrations.svg");
}

.integrations-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/integrations-active.svg");
}

.xp-icon::before {
  background-image: url("/img/icons/sidebar/xp.svg");
}

.xp-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/xp-active.svg");
}

.feature-icon::before {
  background-image: url("/img/icons/sidebar/feature.svg");
}

.feature-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/feature-active.svg");
}

.chart-icon::before {
  background-image: url("/img/icons/sidebar/chart.svg");
}

.users-icon::before {
  background-image: url("/img/icons/sidebar/users.svg");
}

.chart-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/chart-active.svg");
}

.play-icon::before {
  background-image: url("/img/icons/sidebar/play.svg");
}

.play-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/play-active.svg");
}

.web-icon::before {
  background-image: url("/img/icons/sidebar/web.svg");
}

.web-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/web-active.svg");
}

.layer-icon::before {
  background-image: url("/img/icons/sidebar/ai.svg");
}

.layer-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/ai-active.svg");
}

.data-icon::before {
  background-image: url("/img/icons/sidebar/data.svg");
}

.data-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/data-active.svg");
}

.help-icon::before {
  background-image: url("/img/icons/sidebar/help.svg");
}

.help-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/help-active.svg");
}

.question-icon::before {
  background-image: url("/img/icons/sidebar/help.svg");
}

.question-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/help-active.svg");
}

.lightbulb-icon::before {
  background-image: url("/img/icons/sidebar/concept.svg");
}

.lightbulb-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/concept-active.svg");
}

.ai-icon::before {
  background-image: url("/img/icons/sidebar/ai.svg");
}

.ai-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/ai-active.svg");
}

.whn-icon::before {
  background-image: url("/img/icons/sidebar/whn.svg");
}

.whn-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/whn-active.svg");
}

.team-icon::before {
  background-image: url("/img/icons/sidebar/team.svg");
}

.team-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/team-active.svg");
}

.infra-icon::before {
  background-image: url("/img/icons/sidebar/infra.svg");
}

.infra-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/infra-active.svg");
}

.admin-icon::before {
  background-image: url("/img/icons/sidebar/admin.svg");
}

.admin-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/admin-active.svg");
}

.next-icon::before {
  background-image: url("/img/sdk/sdk_nextjs.svg");
}

.node-icon::before {
  background-image: url("/img/sdk/sdk_node.png");
}

.react-icon::before {
  background-image: url("/img/sdk/sdk_react.png");
}

.android-icon::before {
  background-image: url("/img/sdk/sdk_android.png");
}

.ios-icon::before {
  background-image: url("/img/sdk/sdk_ios.png");
}

.js-icon::before {
  background-image: url("/img/sdk/sdk_js.png");
}

.html-icon::before {
  background-image: url("/img/sdk/sdk_html.png");
}

.angular-icon::before {
  background-image: url("/img/sdk/sdk_angular.png");
}

.cpp-icon::before {
  background-image: url("/img/sdk/sdk_cpp.png");
}

.dotnet-icon::before {
  background-image: url("/img/sdk/sdk_dotnet.png");
}

.elixir-icon::before {
  background-image: url("/img/sdk/sdk_elixir.svg");
}

.expo-icon::before {
  background-image: url("/img/sdk/sdk_expo.png");
}

.flutter-icon::before {
  background-image: url("/img/sdk/sdk_flutter.svg");
}

.golang-icon::before {
  background-image: url("/img/sdk/sdk_golang.png");
}

.java-icon::before {
  background-image: url("/img/sdk/sdk_java.png");
}

.php-icon::before {
  background-image: url("/img/sdk/sdk_php.svg");
}

.python-icon::before {
  background-image: url("/img/sdk/sdk_python.png");
}

.rn-icon::before {
  background-image: url("/img/sdk/sdk_rn.png");
}

.roku-icon::before {
  background-image: url("/img/sdk/sdk_roku.png");
}

.ruby-icon::before {
  background-image: url("/img/sdk/sdk_ruby.png");
}

.rust-icon::before {
  background-image: url("/img/sdk/sdk_rust.svg");
}

.swift-icon::before {
  background-image: url("/img/sdk/sdk_swift.png");
}

.unity-icon::before {
  background-image: url("/img/sdk/sdk_unity.png");
}

.template-icon::before {
  background-image: url("/img/icons/sidebar/template.svg");
}

.template-icon:has(.menu__link--active)::before {
  background-image: url("/img/icons/sidebar/template-active.svg");
}

[data-theme="dark"] .sidebar-icon:not(.sdk-sidebar-icon)::before {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
}

[data-theme="dark"] .menu__link--sublist-caret::after {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
}

[data-theme="dark"] .icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
}

.no-background {
  --ifm-alert-background-color: transparent;
  --ifm-alert-border-color: black;
  --ifm-tabs-color-active-border: var(--ifm-color-primary-light);
  --ifm-tabs-color-active: var(--ifm-color-primary-light);
}


.welcome-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}

.welcome-card {
  background-color: var(--ifm-card-background-color, #fff);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.welcome-card:hover {
  box-shadow: var(--ifm-global-shadow-md);
  transform: translateY(-2px);
}

.welcome-card > * {
  padding: 1rem;
}

.welcome-card .icon {
  margin-bottom: 1rem;
}

.welcome-card h3 {
  color: var(--ifm-heading-color);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.welcome-card p {
  color: var(--ifm-color-emphasis-700);
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

html[data-theme='dark'] .welcome-card {
  background-color: var(--ifm-background-color);
  border-color: var(--ifm-color-emphasis-200);
}

html[data-theme='dark'] .welcome-card h3 {
  color: var(--ifm-color-white);
}

html[data-theme='dark'] .welcome-card p {
  color: var(--ifm-color-emphasis-600);
}

/* Navbar responsive styles */
.navbar__items {
  gap: 1rem;
}

.navbar__item {
  white-space: nowrap;

/* Loading spinner for Ask AI component */
@keyframes spin {
  to { transform: rotate(360deg); }
}

.loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--ifm-color-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
  /* font-size: 0.9rem; */
}

.navbar__link--active {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: var(--ifm-navbar-item-padding-horizontal);
    right: var(--ifm-navbar-item-padding-horizontal);
    height: 2px;
    background-color: var(--ifm-color-primary);
  }
}

.navbar__logo {
  height: 25px;
  margin-right: 0.5rem;
}

.DocSearch-Button {
  min-width: 200px;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .navbar__items {
    gap: 0.5rem;
  }

  .navbar__item {
    font-size: 0.85rem;
  }

  .DocSearch-Button {
    min-width: 180px;
  }
}

@media (max-width: 996px) {
  .navbar__items {
    gap: 0.25rem;
  }

  .navbar__item {
    font-size: 0.8rem;
  }

  .DocSearch-Button {
    min-width: 150px;
  }

  .navbar__logo {
    height: 22px;
  }
}
