name: docs.statsig.com deployment

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  docker:
    runs-on: ubuntu-latest
    #    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
          fetch-depth: 0

      - run: git lfs pull

      - name: npm package cache
        uses: actions/cache@v2
        env:
          cache-name: npm
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: statsig/docs:newest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

      - name: Deploy to Latest Cluster
        uses: statsig-io/kubectl-via-gcloud@main
        env:
          CLUSTER_NAME: staging-gke-us-central1
          CLUSTER_REGION: us-central1
          CLUSTER_PROJECT: statsig-services
          GCLOUD_CREDENTIAL: ${{ secrets.GCP_GCLOUD_CREDENTIAL }}
        with:
          args: rollout restart deployment/docs

      - name: Validate Deployment
        uses: statsig-io/kubectl-via-gcloud@main
        env:
          CLUSTER_NAME: staging-gke-us-central1
          CLUSTER_REGION: us-central1
          CLUSTER_PROJECT: statsig-services
          GCLOUD_CREDENTIAL: ${{ secrets.GCP_GCLOUD_CREDENTIAL }}
        with:
          args: rollout status deployment/docs
